
body{
	margin:0; 
	padding:0;
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAAAAACMIRMSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAbSURBVCjPYziHEzCcK8AFgFK44KiuUV100wUAdddvaiDaKL0AAAAASUVORK5CYII=');
}

#main-header{
	position:fixed;
	top:0;
	width:100%;
	background-color:#333; margin:0;
	font-family: sans;
	padding:2em;
	color:#aaa;
	font-size:0.4em;
	z-index:100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#main-header h1, #main-header h2{
	margin:0;
	font-weight: normal;
}
#main-header a{
	color:#71B6D8;
	text-decoration: none;
	font-size:1.3em;
}
#main-header a:hover{
	color:#0077B1;
}
#templates{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position:fixed;
	height:70%;
	width:1.5em;
	bottom:0;
	background-color: #fff;
	padding:0.2em;
	color:#333;
	cursor:pointer;
	text-align:right;
}
#templates:hover{
	width:1.7em;
}
#templates ul{
	margin:0;
	padding:0;
	float:right;
	margin-right:1px;
}
#templates ul li{
	margin:0;
	border:3px solid #ccc;
	color:#aaa;
	padding:0.15em;
	list-style: none;
	width:1em;
	height:1em;
	text-align:center;
	margin-bottom:0.2em;
	font-family: sans;
	font-size:0.8em;
}
#templates ul li:hover{
	background-color:#333;
	border:3px solid #333;
	color:#fff;
	cursor:pointer;
}

#properties{
	position:fixed;
	height:70%;
	width:1.5em;
	bottom:0;
	background-color: #fff;
	padding:0.2em;
	color:#333;
	right:0;
	cursor:pointer;
}
#properties:hover{
	width:1.7em;
}


#page-builder-wraper{
	position:relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	width:70%;
	margin:8% auto 0 auto;
	box-shadow:0px 0px 10px #000;	
	background-color: #fff;
	
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
}
#page-builder{
	min-height:600px;
}
#page-builder-wraper.zoom{
	transform:scale(0.4);
}
#gui_zoom_button.active{
	color:#fff;
}




/* Mobobile editor RULEZ !!!!! */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
	#page-builder{
		font-size:0.6em;
		width:90%;
		margin:10% auto 0 auto;
		box-shadow:none;
	}
	#templates, #properties{
		height:85%;
	}
}
@media only screen
and (max-device-width : 640px){
	#page-builder{
		margin:15% auto 0 auto;
		font-size:0.6em;
	}
	#page-builder section{
		flex: 0 0 100%;		
	}
}


#inspector{
	box-shadow:0px 0px 5px #333;
	font-family:courier;
	background-color: #333;
	color:yellow;
	margin:2em auto;
	width:80%;
	border:15px solid #333;
}
#inspector-content{
	color:#ddd;
}

section{
	/*border-bottom: #fff solid 1px;*/
	min-height: 100px !important;
	/*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQImWP4DwUM///////gwYP/AI5rD5QFOxEtAAAAAElFTkSuQmCC');
	 */
}
section:hover{
	/* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAAAAACMIRMSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAACfSURBVCjPfZExEgAhCAP9/4so0qSh8VEeRHSuEZk7HWWNhDGdiMGYTAOTYG4MX68RR/OGL4uA/rZ6CovKPST0BYU3tW9n5EPzviXJwTe1dVwBsSZN5oVPCtJIxeR2vuvNndbx4HAmKnd7N1jM0US9uNPCj+H1PWvsPMTtj6kerlNp54YrF+XfrF6lZpTcOP/vL4vOVU+xNLxWVh1r6voA+DlxZ0/9IyEAAAAASUVORK5CYII='); 
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAAAAACMIRMSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAACdSURBVCjPfZFRDsAgCEO9/yFJ05B4DAcVzX5EsmmUZ6WM6UQMxmQamARzY/h6jTiaN3xZBPS31VNYVO4hoS8ovKl9OyMfmvctSQ6+qa3jCog1aTIvfFKQRiomt/Ndb+60jgeHM1G527vBYo4m6sWdFn4Mr+9ZY+chbn9M9XCdSjs3XLko/2b1KjWj5Mb5f39ZdK56iqXhtbLqWFPXB7J6ixiM+6PQAAAAAElFTkSuQmCC');*/ 
}


#editor-wraper textarea{
	height:8em;
}

.main-ico{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	border:1px solid #aaa;
	margin:0.2em;
	padding:0.6em;
	float:right;
	color:#aaa;
}
.main-ico:hover{
	color:#fff;
}
/* save button */
#save-content{
	line-height: 3em;
	background-color: #0077B1;
	color:#fff;
	padding: 0.5em 1em;
	text-decoration: none;
	text-transform: uppercase;
}






/* ELEMENTS */
.gu-mirror{
	transform:scale(0.6);
}
.gr-body:hover{
	cursor: move;
	cursor: all-scroll;
}
.gr-body .edit, .gr-body .remove{
	margin:0.1em;
	padding:0.1em;
	position:absolute;
	background-color: #333;
	line-height: 0.7em
}
.gr-body .remove{			
	margin-left:30px;
}
.gr-body .remove a, .gr-body .edit a{
	color:#fff;
}
/* MODAL */
.modalDialog {
	position: fixed;   
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
	font-family: sans;
}
#modal-title{
	text-transform: uppercase;
	color:#222;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	font-weight: 400;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 60%;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 25px 20px;   
    background: #fff;
    background: -moz-linear-gradient(#fff, #ddd);
    background: -webkit-linear-gradient(#fff, #ddd);
    background: -o-linear-gradient(#fff, #ddd);
}
.modalDialog input, .modalDialog textarea {
	width:98%;
	border:1px solid #ccc;
	background-color:#fff;
	font-size: 1em;
	font-family: sans;
	padding:0.3em;
}

.close {
    background-color: #fff;
    color: #222;
    line-height: 25px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -2px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
   
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

/* UPLOADER */
#dropzone{
	font-family: sans;
	border:1px solid #666;
	font-size: 1em;
	padding:0.3em;
	width:98%;
	margin-bottom:0.1em;
	background-color: #888;
	color:#fff;
	cursor:pointer;
}
.dz-image img{
	width:100%;
}
.dz-success-mark{
	display:none;
}
.dz-error-mark{
	display:none;
}
.dz-details{
	display:inline-block;
	display:flex;
}



